<style>
    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }
    
    td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }
</style>

<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <button style="margin-left: 46%;" type="button" class="btn btn-primary">Print</button>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            &nbsp;
        </div>
    </div>
</div>

<div class="container">
        <div class="row">
            <div class="col-sm-12">
                <table class="table tab-content table-bordered" ng-repeat= "(key, value) in detailData | groupBy: 'nature'">
                    <thead>
                        <tr >
                            <th>Facility(+) A/c No.</th>
                            <th>Sanctioned Limit</th>
                            <th>Undisbursed</th>
                            <th>Balance</th>
                            <th>Arrears(Critical Arrears)</th>
                            <th>ROI</th>
                            <th>Period (M) (From-TO)</th>
                            <th>Cash Margin</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="List in value">
                            <td>{{List.accountNumber}}</td>
                            <td>{{List.limit}}</td>
                            <td>{{List.Undisbursed}}</td>
                            <td>{{List.balance}}</td>
                            <td> {{List.arrears}}</td>
                            <td>{{List.roi}}</td>
                            <td>{{List.period}}</td>
                            <td>{{List.cashMargin}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>