<style>
    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }
    
    td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }
    .shad{
        box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
        padding: 15px 10px;
        background: #fff;
        border: none;
        border-radius: 0;
        margin-bottom: 40px; 
    }
</style>

<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <span class="tag">Account Details</span>  
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <button style="margin-left: 46%;" type="button" class="btn btn-primary">Print</button>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            &nbsp;
        </div>
    </div>
</div>

<div class="container">
        <div class="row">
            <div class="col-sm-12">
                <table class="table tab-content table-bordered" ng-repeat= "(key, value) in detailData | groupBy: 'nature'">
                    <thead>
                        <tr >
                            <th>Facility(+) A/c No.</th>
                            <th>Sanctioned Limit</th>
                            <th>Undisbursed</th>
                            <th>Balance</th>
                            <th>Arrears(Critical Arrears)</th>
                            <th>ROI</th>
                            <th>Period (M) (From-TO)</th>
                            <th>Cash Margin</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="List in value">
                            <td>{{List.accountNumber}}</td>
                            <td>{{List.limit}}</td>
                            <td>{{List.Undisbursed}}</td>
                            <td>{{List.balance}}</td>
                            <td> {{List.arrears}}</td>
                            <td>{{List.roi}}</td>
                            <td>{{List.period}}</td>
                            <td>{{List.cashMargin}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="container">
            <div class="row">
                <div class="col-sm-12">&nbsp;</div>
            </div>
        </div>
        
<nav class="shad">
    <div class="container-fluid">
        <div class="container">
            <div class="row">
                    <div class="col-sm-12">
                        <div class="col-sm-2">
                            Observation Noted:
                        </div>
                        <div class="col-sm-4">
                            <input type="text" class="form-control" name="observationNoted" ng-model="ModuleDetailsDataList[0].ObservationNotes" >
                        </div>
                        <div class="col-sm-2">
                            Communicated To: 
                        </div>
                        <div class="col-sm-4">
                            <input type="text" class="form-control" name="communicatedTo" ng-model="ModuleDetailsDataList[0].CommunicatedTo" >
                        </div>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">&nbsp;</div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="col-sm-2">
                            Response Received: 
                        </div>
                        <div class="col-sm-4">
                            <input type="text" class="form-control" name="responseReceived" ng-model="ModuleDetailsDataList[0].responceReceived" >
                        </div>
                        <div class="col-sm-2">
                            Next Follow-Up Date:  
                        </div>
                        <div class="col-sm-4">
                            <input id="startDate" type="text" class="form-control" ng-model="ModuleDetailsDataList[0].FollowupDate" datepicker-popup="dd-MM-yyyy" close-text="Close" ng-required="true"/>
                        </div>
                    </div>
                </div>
            </div> 
            <div class="container">
                    <div class="row">
                        <div class="col-sm-12">&nbsp;</div>
                    </div>
                </div>
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <button type="button" style="margin-left: 90%;" class="btn btn-success" ng-click="SaveModuleData()">Save</button>
                    </div>
                </div>
            </div>
        </div>
    </nav>