<style>
    .shad{
        box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
        padding: 15px 10px;
        background: #fff;
        border: none;
        border-radius: 0;
        margin-bottom: 40px; 
    }
    #table-wrapper {
    position:relative;
    }

    #table-scroll {
    height:456px;
    overflow:auto;  
    margin-top:20px;
    }
</style>

<div class="container">
    <div class="row">
        <div class="col-sm-12">
                <span class="tag">Financials</span>  
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <button style="margin-left: 46%;" type="button" class="btn btn-primary">Print</button>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            &nbsp;
        </div>
    </div>
</div>
<div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="col-sm-1">
                    <label for="finSelect"> Result Types: </label>
                </div>
                <div class="col-sm-2">
                    <select name="finSelect" class="form-control" id="mySelect"
                        data-ng-options="option.typeName for option in financialsDataList track by option.typeID"
                        data-ng-model="financialYear.selectedOption">
                        <option  data-ng-selected="true" value="">--Select--</option>
                    </select>
                </div>
                <div class="col-sm-2">
                    <button class="btn btn-info" ng-click="getFinDatabyName(financialYear.selectedOption)">Search</button>
                </div>
            </div>
        </div>
    </div>
    <div class="container">&nbsp;</div>
    <div class="container" id="table-wrapper">
        <div class="row" id="table-scroll">
                <table ng-if="financialTypeDataList.length >0">
                        <tr>
                          <th>Finance Header</th>
                          <th ng-repeat="year in Quater">
                              {{year}}
                          </th>
                        </tr>
                        <tr ng-repeat= "List in financialTypeDataList">
                          <td>{{List.financeHeader}}</td>
                          <td>{{List.fR1}}</td>
                          <td>{{List.fR2}}</td>
                          <td>{{List.fR3}}</td>
                          <td>{{List.fR4}}</td>
                          <td>{{List.fR5}}</td>
                        </tr>
                        <tr>
                            <th style="border: #ffffff !important">
                                <br/>
                            </th>
                        </tr>
                </table>
        </div>
    </div>
   
    <div class="container" ng-if="financialTypeDataList.length == null">
        <h3 style="padding-left: 32%; padding-top: 3%;">Please Select Result Type</h3>
    </div>

    <div class="container">
            <div class="row">
                <div class="col-sm-12">&nbsp;</div>
            </div>
        </div>
        
<nav class="shad">
        <div class="container-fluid">
            <div class="container">
                <div class="row">
                        <div class="col-sm-12">
                            <div class="col-sm-2">
                                Observation Noted:
                            </div>
                            <div class="col-sm-4">
                                <input type="text" class="form-control" name="observationNoted" ng-model="ModuleDetailsDataList[0].ObservationNotes" >
                            </div>
                            <div class="col-sm-2">
                                Communicated To: 
                            </div>
                            <div class="col-sm-4">
                                <input type="text" class="form-control" name="communicatedTo" ng-model="ModuleDetailsDataList[0].CommunicatedTo" >
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12">&nbsp;</div>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="col-sm-2">
                                Response Received: 
                            </div>
                            <div class="col-sm-4">
                                <input type="text" class="form-control" name="responseReceived" ng-model="ModuleDetailsDataList[0].responceReceived" >
                            </div>
                            <div class="col-sm-2">
                                Next Follow-Up Date:  
                            </div>
                            <div class="col-sm-4">
                                <input id="startDate" type="text" class="form-control" ng-model="ModuleDetailsDataList[0].FollowupDate" datepicker-popup="dd-MM-yyyy" close-text="Close" ng-required="true"/>
                            </div>
                        </div>
                    </div>
                </div> 
                <div class="container">
                        <div class="row">
                            <div class="col-sm-12">&nbsp;</div>
                        </div>
                    </div>
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12">
                            <button type="button" style="margin-left: 90%;" class="btn btn-success" ng-click="SaveModuleData()">Save</button>
                        </div>
                    </div>
                </div>
            </div>
        </nav>