<style type="text/css">
.tabledata tbody tr:nth-child(n+3) {
    display: none;
}

#table-wrapper {
  position:relative;
}
#table-scroll {
  height:456px;
  overflow:auto;  
  margin-top:20px;
}
#table-wrapper table {
  width:100%;
    
}

#table-wrapper table thead th .text {
  position:absolute;   
  top:-20px;
  z-index:2;
  height:20px;
  width:35%;
}

table.tableizer-table {
        font-size: 12px;
        border: 1px solid #CCC;
        font-family: Arial, Helvetica, sans-serif;
    }

    table[show-weeks] thead tr th {
    padding: 0px;
    font-size: 12px;
    font-weight: normal;
    padding-top:4px;
    padding-bottom: 4px;
    text-align: center;
    margin: 0 auto;
    padding-right: 5px;
    padding-left: 5px;
}
table[show-weeks] thead tr td button:first-child
{
    background: transparent !important;
}

table[show-weeks] thead tr td button:last-child
{
    background: transparent !important;
    
}

.icon-chevron-left:before {
    content: "<";
}

.icon-chevron-right:before {
    content: ">";
}

table[show-weeks] tbody tr td {
    padding: 2px;
    text-align: center;
    font-size: 12px !important;
    font-weight: normal;
}

table[show-weeks] tbody tr td button.btn-info {
    padding: 2px;
    text-align: center; 
    background-color: #5bc0de;
    border-color: #46b8da;
    font-size: 12px;
    font-weight: normal;
    border-radius: 0px;
}

table[show-weeks] tbody tr td button {
    padding: 2px;
    text-align: center; 
    border-radius: 0px;
    background-color: whitesmoke;
    border-color: whitesmoke;
    font-size: 12px !important;
    font-weight: normal;
}

    .tableizer-table td {
        padding: 4px;
        margin: 3px;
        border: 1px solid #CCC;
    }

    .tableizer-table th {
        background-color: #104E8B;
        color: #FFF;
        font-weight: bold;
    }
</style>

<!-- <div class="container">
    <div class="row">
        <div class="col-sm-12">
            <div class="col-sm-4">
                    <input
                    id="startDate"
                    type="text"
                    class="form-control"
                    ng-model="startDate"
                    datepicker-popup="yyyy-MM-dd"
                    close-text="Close"
                    ng-required="true"/>
            </div>
            <div class="col-sm-4">
                    <input
                    id="endDate"
                    type="text"
                    class="form-control"
                    ng-model="endDate"
                    datepicker-popup="yyyy-MM-dd"
                    close-text="Close"
                    ng-required="true"/>
            </div>
            <div class="col-sm-4">
                <button class="btn btn-info" ng-click="getRatingDataByDate()">Search</button>
            </div>
        </div>
    </div>
</div> -->
<div class="container">&nbsp;</div>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <button class="showall btn btn-info" ng-click="removeClass()"ng-show="showButton"> 
                        <span class="glyphicon glyphicon-plus"></span> History</button>
                <button class="showall btn btn-warning" ng-click="addClass()" ng-show="hideButton">
                        <span class="glyphicon glyphicon-minus"></span> History</button>
            </div>
        </div>
    </div>
    
<div class="container" id="table-wrapper">
        <div class="row" id="table-scroll">
           <div class="col-lg-12">
                <table class="{{cssClass}}" id="tabledata">
                    <tr>
                        <th class="text">Particulars</th>
                        <th class="text">Date</th>
                        <th class="text">Internal</th>
                        <th class="text">Date</th>
                        <th class="text">By ID</th>
                        <th class="text">Source</th>
                    </tr>
                    <tr ng-repeat= "List in ratingList">
                        <td>{{List.particular}}</td>
                        <td>{{List.dateFrom | date:'yyyy-MM-dd'}}</td>
                        <td>{{List.ratingValue}}</td>
                        <td>{{List.dateTo | date:'yyyy-MM-dd'}}</td>
                        <td>{{List.byId}}</td>
                        <td>{{List.source}}</td>
                    </tr>
                </table>
                </div>
           </div>
    </div>
    