<style type="text/css">
    .hide{
        color: aliceblue;
    }
    .shad{
        box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
        padding: 15px 10px;
        background: #fff;
        border: none;
        border-radius: 0;
        margin-bottom: 40px; 
    }
</style>
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <span class="tag">Restructing / Rescheduling</span>  
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <button style="margin-left: 46%;" type="button" class="btn btn-primary">Print</button>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            &nbsp;
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <div class="col-sm-4">
                <table style="height: 72px;">
                    <tr>
                        <th class="text" style="padding-left: 36%;">Account </th>
                    </tr>
                </table>
            </div>
            <div class="col-sm-4">
                <table>
                    <tr>
                        <th class="text">Restructuring : </th>
                        <th class="text">{{endDateData.accountRestructured}}</th>
                        <!-- <th class="text"><select ng-model="selecteRestructured" ng-options="x for x in dropDown"></select></th> -->
                    </tr>
                    <tr>
                        <th class="text">Rescheduled : </th>
                        <th class="text">{{endDateData.accountRescheduled}}</th>
                    </tr>
                </table>
            </div>
            <div class="col-sm-4">
                <table>
                    <tr>
                        <th class="text">ID No : </th>
                        <th class="text">{{endDateData.idNo}}</th>
                    </tr>
                    <tr>
                    <th class="text">Dated : </th>
                        <th class="text">{{endDateData.soApplicationDate| date:'dd-MM-yyyy'}}</th>
                    </tr>
                </table>
            </div>
        </div>
        <div class="col-sm-12">&nbsp;</div>
        <div class="col-sm-12">
            <table>
                <tr>
                    <th class="text">Account No.</th>
                    <th class="text">Type</th>
                    <th class="text">Date</th>
                    <th class="text">Cut-Off</th>
                    <th class="text">Sacrifice</th>
                    <th class="text">Repayment Start Date</th>
                    <th class="text">Frequency</th>
                </tr>
                <tr ng-repeat= "List in detailData">
                    <td>{{List.accountNo}}</td>
                    <td>{{List.type}}</td>
                    <td>{{List.accountDate | date:'dd-MM-yyyy'}}</td>
                    <td>{{List.cutofDate | date:'dd-MM-yyyy'}}</td>
                    <td>{{List.sacrifice}}</td>
                    <td>{{List.repaymentStartDate | date:'dd-MM-yyyy'}}</td>
                    <td>{{List.frequency}}</td>
                </tr>
            </table>
        </div>
        <div class="col-sm-12">&nbsp;</div>
        <div class="col-sm-12">
            <div class="col-sm-2">&nbsp;</div>
            <div class="col-sm-8">
                <div class="col-sm-6">
                    <table>
                        <tr>
                            <th class="text">Checked By CRMD : </th>
                            <th class="text">{{endDateData.checkedByCRMD}}</th>
                        </tr>
                    </table>
                </div>
                <div class="col-sm-6">
                    <table>
                        <tr>
                            <th class="text">ID : </th>
                            <th class="text">{{endDateData.pfNo}}</th>
                        </tr>
                    </table>
                    <br>
                </div>
                <table>
                    <tr>
                        <th class="text">If not Correct Follow-up Date :</th>
                        <th class="text">{{endDateData.followupDate| date:'dd-MM-yyyy'}}</th>
                    </tr>
                </table>
                <br />
                <table>
                    <tr>
                        <th class="text">Account Regularised or Out of Restucturing Package : </th>
                        <th class="text">{{endDateData.accountRegularisedDate| date:'dd-MM-yyyy'}}</th>
                    </tr>
                </table>
            </div>
            <div class="col-sm-3">&nbsp;</div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-sm-12">&nbsp;</div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <div class="col-sm-6">
                <table>
                    <tr>
                        <th class="text">Project Type : </th>
                        <th class="text">{{endDateData.projectType}}</th>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-sm-12">&nbsp;</div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-sm-12"> 
            <div class="col-sm-4"> 
                <table>
                    <tr>
                        <th class="text">Original DCCO : </th>
                        <th class="text">{{endDateData.dccoDate | date:'dd-MM-yyyy'}}</th>
                    </tr>
                </table>
            </div> 
            <div class="col-sm-4"> 
                <table>
                    <tr>
                        <th class="text">Extended : </th>
                        <th class="text">{{endDateData.extendedDate | date:'dd-MM-yyyy'}}</th>
                    </tr>
                </table>
            </div> 
            <div class="col-sm-4"> 
                <table>
                    <tr>
                         <th class="text">Actual : </th>
                        <th class="text">{{endDateData.actualDate | date:'dd-MM-yyyy'}}</th>
                    </tr>
                </table>
            </div> 
        </div>
    </div>
</div>
<div class="container">
        <div class="row">
            <div class="col-sm-12">&nbsp;</div>
        </div>
    </div>
<nav class="shad">
    <div class="container-fluid">
        <div class="container">
            <div class="row">
                    <div class="col-sm-12">
                        <div class="col-sm-2">
                            Observation Noted:
                        </div>
                        <div class="col-sm-4">
                            <input type="text" class="form-control" name="observationNoted" ng-model="ModuleDetailsDataList[0].ObservationNotes" >
                        </div>
                        <div class="col-sm-2">
                            Communicated To: 
                        </div>
                        <div class="col-sm-4">
                            <input type="text" class="form-control" name="communicatedTo" ng-model="ModuleDetailsDataList[0].CommunicatedTo" >
                        </div>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">&nbsp;</div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="col-sm-2">
                            Response Received: 
                        </div>
                        <div class="col-sm-4">
                            <input type="text" class="form-control" name="responseReceived" ng-model="ModuleDetailsDataList[0].responceReceived" >
                        </div>
                        <div class="col-sm-2">
                            Next Follow-Up Date:  
                        </div>
                        <div class="col-sm-4">
                            <input id="startDate" type="text" class="form-control" ng-model="ModuleDetailsDataList[0].FollowupDate" datepicker-popup="dd-MM-yyyy" close-text="Close" ng-required="true"/>
                        </div>
                    </div>
                </div>
            </div> 
            <div class="container">
                    <div class="row">
                        <div class="col-sm-12">&nbsp;</div>
                    </div>
                </div>
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <button type="button" style="margin-left: 90%;" class="btn btn-success" ng-click="SaveModuleData()">Save</button>
                    </div>
                </div>
            </div>
        </div>
    </nav>