<style>
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }
        
        td, th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        #table-wrapper {
            position:relative;
        }

         #table-scroll {
            height:390px;
            overflow:auto;  
            margin-top:20px;
        }

        #table-wrapper table {
            width:100%;
        }
        .shad{
        box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
        padding: 15px 10px;
        background: #fff;
        border: none;
        border-radius: 0;
        margin-bottom: 40px; 
    }
</style>
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <span class="tag">Security Details</span>  
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <button style="margin-left: 46%;" type="button" class="btn btn-primary">Print</button>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-sm-12">
            &nbsp;
        </div>
    </div>
</div>
<div class="container" id="table-wrapper">
    <div class="row" id="table-scroll">
        <table ng-repeat= "(key, value) in group | groupBy: 'securityType'" ng-if="group.length  >0">
            <tr>
                <th>Type: {{key}}</th>
            </tr>
                <tr>
                <th>Facility + A/c No</th>
                <th>Balance as on</th>
                <th>Security Details</th>
                <th>Value / Apportion Value</th>
                <th>Date</th>
                <th>Insurance Value(Expiry Date)</th>
                <th>Correct Y/N</th>
                <th>Follow-up Date</th>
                </tr>
                <tr ng-repeat= "List in value">
                <td>{{List.accountNo}}</td>
                <td>{{List.balanceAsOn}}</td>
                <td>{{List.securityDetails}}</td>
                <td>{{List.apportionValue}}</td>
                <td>No Value</td>
                <td>No Value</td>
                <td>{{List.correctFlag}}</td>
                <td>{{List.followUpDate | date:'dd-MM-yyyy'}}</td>
                </tr>
                <tr>
                    <th style="border: #ffffff !important">
                        <br/>
                    </th>
                </tr>
        </table>
    </div>
</div>
<div class="container">
        <div class="row">
            <div class="col-sm-12">&nbsp;</div>
        </div>
    </div>

<nav class="shad">
        <div class="container-fluid">
            <div class="container">
                <div class="row">
                        <div class="col-sm-12">
                            <div class="col-sm-2">
                                Observation Noted:
                            </div>
                            <div class="col-sm-4">
                                <input type="text" class="form-control" name="observationNoted" ng-model="observationNoted" >
                            </div>
                            <div class="col-sm-2">
                                Communicated To: 
                            </div>
                            <div class="col-sm-4">
                                <input type="text" class="form-control" name="communicatedTo" ng-model="communicatedTo" >
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12">&nbsp;</div>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="col-sm-2">
                                Response Received: 
                            </div>
                            <div class="col-sm-4">
                                <input type="text" class="form-control" name="responseReceived" ng-model="responseReceived" >
                            </div>
                            <div class="col-sm-2">
                                Next Follow-Up Date:  
                            </div>
                            <div class="col-sm-4">
                                <input id="startDate" type="text" class="form-control" ng-model="followUpDate" datepicker-popup="dd-MM-yyyy" close-text="Close" ng-required="true"/>
                            </div>
                        </div>
                    </div>
                </div> 
                <div class="container">
                        <div class="row">
                            <div class="col-sm-12">&nbsp;</div>
                        </div>
                    </div>
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12">
                            <button type="button" style="margin-left: 90%;" class="btn btn-success" ng-click="saveData( )">Save</button>
                        </div>
                    </div>
                </div>
            </div>
        </nav>