<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet">
<link href="Gamut.UI/css/bootstrap.min.css" rel="stylesheet" />
<link href="Gamut.UI/css/Main.css" rel="stylesheet" />
<link rel="stylesheet" href="Gamut.UI/css/angular-block-ui.min.css"/>
<link rel="stylesheet" href="Gamut.UI/css/toaster.min.css"/>
<link href="Gamut.UI/css/Login.css" rel="stylesheet" />

<script src="Gamut.UI/Scripts/angular.min.js"></script>
<script src="Gamut.UI/Scripts/angular-route.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-filter/0.5.8/angular-filter.js"></script>
<script src="Gamut.UI/Scripts/angular-block-ui.min.js"></script>
<script src="Gamut.UI/Scripts/toaster.min.js"></script>

<script data-require="ui-bootstrap@0.5.0" data-semver="0.5.0" src="http://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.6.0.js"></script>
<script src="Gamut.UI/App.js"></script>
<script src="Gamut.UI/Controllers/GeneralController.js"></script>
<script src="Gamut.UI/Controllers/Soc124Controller.js"></script>
<script src="Gamut.UI/Controllers/AuthController.js"></script>
<script src="Gamut.UI/Controllers/intrestRate.js"></script>
<script src="Gamut.UI/Controllers/rating.js"></script>
<script src="Gamut.UI/Controllers/security.js"></script>
<script src="Gamut.UI/Controllers/financials.js"></script>
<script src="Gamut.UI/Controllers/restucturing.js"></script>
<script src="Gamut.UI/Controllers/accountDetails.js"></script>
<script src="Gamut.UI/Controllers/view.js"></script>
<script src="Gamut.UI/Services.js"></script>
 
<style>
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

</style>

<body data-ng-app="ApplicationModule" ng-cloak="true">
    <!--<div class="wrapper" data-ng-show="showMenu">-->
	<!-- Before Login-->
	<div class="container" ng-if="$root.userId == 0">
        <div class="col-md-10 col-md-offset-1 main">
            <div class="col-md-6 left-side">
                <h3>Gamut</h3>
                <p>Please Login</p>
                <br>
            </div>
            <div class="col-md-6 right-side">
                <h3>Login</h3>
                <form>
                    <!--Form with header-->
                    <div class="form" >
                        <div class="col-sm-10">
                            <label for="form2" class="">usersname</label>
                            <input type="text" id="form2" data-ng-model="$root.userName" class="form-control">
                        </div>
                        <div class="col-sm-10">
                            <label for="form4">password</label>
                            <input type="password" id="form4" data-ng-model="$root.password" class="form-control">
                        </div>
						<div class="col-sm-10">&nbsp;</div>
                        <div class="col-sm-10">
                            <input type="submit" id="submit" class="btn btn-deep-purple" data-ng-click="$root.login($root.userName,$root.password)" />
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
	
	<!-- After Login-->
    <div class="wrapper"  ng-if="$root.userId != 0">
        <!-- Sidebar Holder -->
        <nav id="sidebar">
            <div class="navbar-header navbar-right">
                <button type="button" id="sidebarCollapse" class="btn btn-info navbar-btn navbar-right">
                    <i class="glyphicon glyphicon-align-right"></i>

                </button>
            </div>
            <div class="sidebar-header">
                <h3>GAMUT</h3>
                <strong>GT</strong>
            </div>

            <ul class="list-unstyled components">

                <li>
                    <a href="#/index">
                        <i class="glyphicon glyphicon-home"></i>
                        Home
                    </a>
                </li>
                <!--<li>
                        <a href="add">
                            <i class="glyphicon glyphicon-briefcase"></i>
                            About
                        </a>
                    </li>-->
                <li>
                    <a href="#/general">
                        <i class="glyphicon glyphicon-link"></i>
                        General
                    </a>
                </li>
                <li>
                    <a href="#/soc124">
                        <i class="glyphicon glyphicon-link"></i>
                        SO/Cond/Approvals
                    </a>
                </li>
                <li>
                    <a href="#/intrestRate">
                        <i class="glyphicon glyphicon-link"></i>
                        Interest Rate
                    </a>
                </li>
                <li>
                    <a href="#/financials">
                        <i class="glyphicon glyphicon-link"></i>
                        Financials
                    </a>
                </li>
                <li>
                    <a href="#/security">
                        <i class="glyphicon glyphicon-link"></i>
                        Security Details
                    </a>
                </li>
                <li>
                    <a href="#/documents">
                        <i class="glyphicon glyphicon-link"></i>
                        Reports / Documents
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="glyphicon glyphicon-link"></i>
                        Inspection Comments
                    </a>
                </li>
                <li>
                    <a href="#/rating">
                        <i class="glyphicon glyphicon-link"></i>
                        Ratings
                    </a>
                </li>
                <li>
                    <a href="#/restucturing">
                        <i class="glyphicon glyphicon-link"></i>
                        Restructing / Rescheduling
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="glyphicon glyphicon-link"></i>
                        SMA Catagorisation
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="glyphicon glyphicon-link"></i>
                        Irregularities Snapshot
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="glyphicon glyphicon-link"></i>
                        External Sources
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="glyphicon glyphicon-link"></i>
                        Activity Logs
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="glyphicon glyphicon-link"></i>
                        Misc Information
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="glyphicon glyphicon-link"></i>
                        Download Reports
                    </a>
                </li>
                <li>
                    <a href="#/accountDetails">
                        <i class="glyphicon glyphicon-link"></i>
                        Account Details
                    </a>
                </li>
				 <li>
                    <a href="#/view">
                        <i class="glyphicon glyphicon-link"></i>
                       View
                    </a>
                </li>
            </ul>
        </nav>

        <!-- Page Content Holder -->
        <div id="content" style="width:100%" class="navbar">
            <nav class="navbar navbar-inverse">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <button type="button" id="sidebarCollapseNav" class="btn btn-info navbar-btn">
                            <i class="glyphicon glyphicon-align-left"></i>
                            <span></span>
                        </button>
                    </div>
                    <div class="container-fluid">
                        <ul class="nav navbar-nav navbar-collapse">
                            <li><h3> Inegrated Banking Solution</h3></li>
                        </ul>
                    </div>
					<div class="container-fluid">
                        <ul class="nav navbar-nav navbar-right">
                            <li><button type="button" ng-click="$root.logout()" class="btn btn-danger">Logout</button></li>
                        </ul>
                    </div>
                </div>
				<input type="text" ng-model="$root.select" typeahead-on-select="onSelect($item, $model, $label)" typeahead="customer.cust_Name for customer in $root.customers | filter:$viewValue | limitTo:8" class="form-control" placeholder="Search by Customer" style="width: 30% !important;margin-left: 59% !important;margin-top: 1% !important;">
            </nav>
				<div class="container">
					<div class="row">
					   <div class="col-lg-12">
							<div class="col-lg-4">
								<table>
								  <tr>
									<th>Cust ID</th>
									<th>{{$root.customer.cust_id}}</th>
								  </tr>
								  <tr>
									<th>Pan No.</th>
									<th>{{$root.customer.pan_No}}</th>
								  </tr>
								</table>
							</div>
							<div class="col-lg-4">
								<table>
								  <tr>
									<th>Name</th>
									<th>{{$root.customer.cust_Name}}</th>
								  </tr>
								  <tr>
									<th>Constitution</th>
									<th>{{$root.customer.constitution}}</th>
								  </tr>
								</table>
							</div>
							<div class="col-lg-4">
								<table>
								  <tr>
									<th>Exposure</th>
									<th>{{$root.customer.exposure}}</th>
								  </tr>
								  <tr>
									<th>As on</th>
									<th>{{$root.customer.exposure_AsOn | date:'yyyy-MM-dd'}}</th>
								  </tr>
								</table>
							</div>
						</div>
					</div>
				</div>
				<br />
				<toaster-container toaster-options="{'time-out': 3000,'positionClass': 'toast-top-center'}" class="ng-scope toast-top-center"></toaster-container>
				<div class="container">
					<div class="row">
					   <div class="col-lg-12">
							<div data-ng-view></div>
						</div>
					</div>
				</div>

        </div>

    </div>

    <!-- jQuery CDN -->
    <script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
    <!-- Bootstrap Js CDN -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $('#sidebarCollapse').on('click', function () {
                $('#sidebar').toggleClass('active');
            });
            $('#sidebarCollapseNav').on('click', function () {
                $('#sidebar').toggleClass('active');
            });
        });
		
			$(".showall").click(function(){
		$("#tabledata").removeClass("tabledata");
	});
    </script>
	
	

</body>



