
<style type="text/css">

    table.tableizer-table {
        font-size: 12px;
        border: 1px solid #CCC;
        font-family: Arial, Helvetica, sans-serif;
    }

    .tableizer-table td {
        padding: 4px;
        margin: 3px;
        border: 1px solid #CCC;
    }

    .tableizer-table th {
        background-color: #104E8B;
        color: #FFF;
        font-weight: bold;
    }

      table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }
    
    td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }

    table[show-weeks] thead tr th {
    padding: 0px;
    font-size: 12px;
    font-weight: normal;
    padding-top:4px;
    padding-bottom: 4px;
    text-align: center;
    margin: 0 auto;
    padding-right: 5px;
    padding-left: 5px;
}
table[show-weeks] thead tr td button:first-child
{
    background: transparent !important;
}

table[show-weeks] thead tr td button:last-child
{
    background: transparent !important;
    
}

.icon-chevron-left:before {
    content: "<";
}

.icon-chevron-right:before {
    content: ">";
}

table[show-weeks] tbody tr td {
    padding: 2px;
    text-align: center;
    font-size: 12px !important;
    font-weight: normal;
}

table[show-weeks] tbody tr td button.btn-info {
    padding: 2px;
    text-align: center; 
    background-color: #5bc0de;
    border-color: #46b8da;
    font-size: 12px;
    font-weight: normal;
    border-radius: 0px;
}

table[show-weeks] tbody tr td button {
    padding: 2px;
    text-align: center; 
    border-radius: 0px;
    background-color: whitesmoke;
    border-color: whitesmoke;
    font-size: 12px !important;
    font-weight: normal;
}

    .tableizer-table td {
        padding: 4px;
        margin: 3px;
        border: 1px solid #CCC;
    }

    .tableizer-table th {
        background-color: #104E8B;
        color: #FFF;
        font-weight: bold;
    }
</style>


<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <div class="col-sm-1">
                <label for="finSelect"> Financial Year: </label>
            </div>
            <div class="col-sm-2">
                <select name="finSelect" class="form-control" id="mySelect"
                    data-ng-options="option.fyName for option in financialYear track by option.$id"
                    data-ng-model="financialYear.selectedOption" data-ng-change="selectFyName(financialYear.selectedOption)">
                    <option  data-ng-selected="true" value="">--Select--</option>
                </select>
            </div>
            <div class="col-sm-3">
                    <input
                    id="startDate"
                    type="text"
                    class="form-control"
                    ng-model="startDate"
                    datepicker-popup="dd-MM-yyyy"
                    close-text="Close"
                    ng-required="true"
                    disabled="disabled"/>
            </div>
            <div class="col-sm-3">
                    <input
                    id="endDate"
                    type="text"
                    class="form-control"
                    ng-model="endDate"
                    datepicker-popup="dd-MM-yyyy"
                    close-text="Close"
                    ng-required="true"
                    disabled="disabled"/>
            </div>
            <div class="col-sm-2">
                <button class="btn btn-info" ng-click="getViewDocumentbyDate()">Search</button>
            </div>
        </div>
    </div>
</div>
<div class="container">&nbsp;</div>
<table ng-repeat= "(key, value) in group | groupBy: 'periodicity'" ng-if="group.length  >0">
        <tr>
          <th>Periodicity</th>
          <th>Type</th>
          <th ng-if="key == 'General'">isChecked</th>
          <th ng-if="key == 'General'">monitorId</th>
          <th ng-if="key != 'General'">Submitted Y/N or NA</th>
          <th ng-if="key != 'General'">Date</th>
          <th ng-if="key != 'General'">Deviation noted</th>
          <th>Save</th>
        </tr>
        <tr ng-repeat= "List in value">
          <td>{{List.periodicity}}</td>
          <td>{{List.documentType}}</td>
          <td ng-if="key != 'General'">
            <select data-ng-model="List.submitted" class="form-control">
                    <option value="">--Select--</option>
                    <option value="Yes">Yes</option>
                    <option value="No">No</option>
                    <option value="NA">NA</option>
            </select>
          </td>
          <td ng-if="key == 'General'"><input type="checkbox" ng-model="List.isChecked" ng-checked="List.isChecked"></td>
          <td ng-if="key == 'General'"><input type="text" class="form-control" maxlength="200" ng-model="List.monitorId" ></td>
          <td ng-if="key != 'General'"><input id="startDate" type="text" class="form-control" ng-model="List.submittedDate" datepicker-popup="dd-MM-yyyy" close-text="Close" ng-required="true"/></td>
          <td ng-if="key != 'General'"><input type="text" class="form-control" name="approvalFor" maxlength="200" ng-model="List.deviationNoted" ></td>
          <td><button type="button" class="btn btn-success" ng-click="saveData(List.id,List.cust_id,List.periodicity,List.documentType,List.submitted,List.submittedDate,List.deviationNoted,List.compiledDate,List.isChecked,List.monitorId,List.lastUpdatedBy,List.lastUpdatedOn)">Save</button></td>
        </tr>
        <tr>
            <th style="border: #ffffff !important">
                <br/>
            </th>
        </tr>
</table>
