
<style type="text/css">
    table.tableizer-table {
        font-size: 12px;
        border: 1px solid #CCC;
        font-family: Arial, Helvetica, sans-serif;
    }

    .tableizer-table td {
        padding: 4px;
        margin: 3px;
        border: 1px solid #CCC;
    }

    .tableizer-table th {
        background-color: #104E8B;
        color: #FFF;
        font-weight: bold;
    }
</style>
{{test}}
<table class="table tab-content table-bordered">
    <tbody>
        <tr>
            <td>
                <label for="finSelect"> Financial Year: </label>
                <select name="finSelect" id="mySelect"
                        data-ng-options="option.name for option in financialYear.availableOptions track by option.id"
                        data-ng-model="financialYear.selectedOption">

                </select>

            </td>
        </tr>
    </tbody>
</table>
<table class="table tab-content table-bordered">

    <thead><tr class="tableizer-firstrow"><th>Periodicity</th><th>Type</th><th>Submitted Y/N or NA</th><th>Date</th><th>Deviation noted</th><th>&nbsp;</th><th>&nbsp;</th></tr></thead>
    <tbody>
        <tr><td>Annual</td><td>Audited FS</td><td>Drop Down</td><td>DD.MMM.YYYY</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td></tr>
        <tr><td>&nbsp;</td><td>Stock Audit</td><td>Drop Down</td><td>DD.MMM.YYYY</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td></tr>
        <tr><td>&nbsp;</td><td>ECGC/CGTMS</td><td>Drop Down</td><td>DD.MMM.YYYY</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td></tr>
        <tr><td>&nbsp;</td><td>Insurance</td><td>Drop Down</td><td>DD.MMM.YYYY</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td></tr>
        <tr><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td></tr>
        <tr><td>Quarterly</td><td>FFR / QIS</td><td>Drop Down</td><td>DD.MMM.YYYY</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td></tr>
        <tr><td>&nbsp;</td><td>Exgn. Of Info</td><td>Drop Down</td><td>DD.MMM.YYYY</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td></tr>
        <tr><td>&nbsp;</td><td>UHFCE</td><td>Drop Down</td><td>DD.MMM.YYYY</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td></tr>
        <tr><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td></tr>
        <tr><td>General</td><td>Cersai Charge</td><td>Check Box</td><td>CRMD /CMC Monitor ID</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td></tr>
        <tr><td>&nbsp;</td><td>EM Creation</td><td>Check Box</td><td>CRMD /CMC Monitor ID</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td></tr>
        <tr><td>&nbsp;</td><td>ROC Charge</td><td>Check Box</td><td>CRMD /CMC Monitor ID</td><td>&nbsp;</td><td>&nbsp;</td><td></td></tr>
    </tbody>
</table>
