<style type="text/css">
  table.tableizer-table {
        font-size: 12px;
        border: 1px solid #CCC;
        font-family: Arial, Helvetica, sans-serif;
    }

    table[show-weeks] thead tr th {
    padding: 0px;
    font-size: 12px;
    font-weight: normal;
    padding-top:4px;
    padding-bottom: 4px;
    text-align: center;
    margin: 0 auto;
    padding-right: 5px;
    padding-left: 5px;
}
table[show-weeks] thead tr td button:first-child
{
    background: transparent !important;
}

table[show-weeks] thead tr td button:last-child
{
    background: transparent !important;
    
}

.icon-chevron-left:before {
    content: "<";
}

.icon-chevron-right:before {
    content: ">";
}

table[show-weeks] tbody tr td {
    padding: 2px;
    text-align: center;
    font-size: 12px !important;
    font-weight: normal;
}

table[show-weeks] tbody tr td button.btn-info {
    padding: 2px;
    text-align: center; 
    background-color: #5bc0de;
    border-color: #46b8da;
    font-size: 12px;
    font-weight: normal;
    border-radius: 0px;
}

table[show-weeks] tbody tr td button {
    padding: 2px;
    text-align: center; 
    border-radius: 0px;
    background-color: whitesmoke;
    border-color: whitesmoke;
    font-size: 12px !important;
    font-weight: normal;
}

    .tableizer-table td {
        padding: 4px;
        margin: 3px;
        border: 1px solid #CCC;
    }

    .tableizer-table th {
        background-color: #104E8B;
        color: #FFF;
        font-weight: bold;
    }
    .row2 td {
        padding-top: 20px !important;

}

    #table-wrapper {
    position:relative;
    }

    #table-scroll {
    height:456px;
    overflow:auto;  
    margin-top:20px;
    }

    #table-wrapper table {
    width:100%;    
    }

    #table-wrapper table thead th .text {
    position:absolute;   
    top:-20px;
    z-index:2;
    height:20px;
    width:35%;
    }

    .shad{
        box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
        padding: 15px 10px;
        background: #fff;
        border: none;
        border-radius: 0;
        margin-bottom: 40px; 
    }
</style>
<div class="container">
    <div class="row">
        <div class="col-sm-12">
                <span class="tag">General</span>  
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <button style="margin-left: 46%;" type="button" class="btn btn-primary">Print</button>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-sm-12">
            &nbsp;
        </div>
    </div>
</div>
<div class="container" id="table-wrapper">
    <div class="row" id="table-scroll">
        <div class="col-sm-6">
            <table class="table tab-content table-bordered">
                <thead>
                    <tr class="tableizer-firstrow ">
                        <th>Particular</th>
                        <th>Details</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Activity</td>
                        <td>{{General.entData.activity}}</td>
                    </tr>
                    <tr>
                        <td>Sector - Sub Sector</td>
                        <td>{{General.entData.sector_SubSector}}</td>
                    </tr>
                    <tr>
                        <td>Priority/Non Priority</td>
                        <td>{{General.entData.priority_Non_Priority}}</td>
                    </tr>
                    <tr>
                        <td>Govt Sponsored</td>
                        <td>{{General.entData.govt_sponsored}}
                        </td>
                    </tr>
                    <tr>
                        <td>Industry</td>
                        <td>{{General.entData.industry}}</td>
                    </tr>
                    <tr>
                        <td>Incorporation</td>
                        <td>
                            {{General.entData.incorporation| date:'dd-MM-yyyy'}}
                        </td>
                    </tr>
                    <tr>
                        <td>Connection Since</td>
                        <td>
                            {{General.entData.connection_Since| date:'dd-MM-yyyy'}}</td>
                    </tr>
                    <tr>
                        <td>Internal Rating</td>
                        <td>
                            {{General.entData.internal_Rating}} ({{General.entData.internal_Rating_AsOn| date:'dd-MM-yyyy'}})
                        </td>
                    </tr>
                    <tr>
                        <td>External Rating</td>
                        <td>{{General.entData.external_Rating}} ({{General.entData.external_Rating_AsOn| date:'dd-MM-yyyy'}})</td>
                    </tr>
                    <tr>
                        <td>Inspection comments</td>
                        <td>{{General.entData.inspection_Comments}}</td>
                    </tr>
                    <tr>
                        <td>Banking Argmt</td>
                        <td>
                            {{General.entData.banking_Argmt}}
                        </td>
                    </tr>
                    <tr>
                        <td>If Consortium</td>
                        <td>{{General.entData.if_Consortium}}</td>
                    </tr>
                    <tr>
                        <td>Lead Bank</td>
                        <td>{{General.entData.lead_Bank}}</td>
                    </tr>
                    <tr>
                        <td>SMA</td>
                        <td>{{General.entData.sma}}</td>
                    </tr>
                    <tr>
                        <td>DCCO</td>
                        <td>
                            {{General.entData.dcco}} ({{General.entData.dccO_AsOn}})
                        </td>
                    </tr>
                    <tr>
                        <td>Takeover</td>
                        <td>
                            {{General.entData.takeover}} ({{General.entData.takeover_AsOn}})
                        </td>
                    </tr>
                    <tr>
                        <td>Take over from</td>
                        <td>{{General.entData.takeover_From}}</td>
                    </tr>
                    <tr>
                        <td>Reason For Takeover</td>
                        <td>{{General.entData.reason_for_Takeover}}</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>
                            <input type="button" class="btn btn-info" value="SAVE" ng-click="save()" />

                        </td>
                    </tr>
                </tbody>
            </table>
        </div>


        <div class="col-sm-6">
            <table class="table tab-content table-bordered">
                <thead>
                    <tr class="tableizer-firstrow ">
                        <th>Limit Details</th>
                        <th colspan="3" align="center">Details</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Nature</td>
                        <td>Limit</td>
                        <td>Balance</td>
                        <td>Exposures</td>
                    </tr>
                    <tr ng-repeat="x in General.exposures">
                        <td>
                            {{x.nature}}
                        </td>
                        <td>
                            {{x.limit}}
                        </td>
                        <td>
                            {{x.balance}}
                        </td>
                        <td>
                            {{x.exposure}}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Total
                        </td>
                        <td>
                            {{exLimitTotal}}
                        </td>
                        <td>
                            {{exBalanceTotal}}
                        </td>
                        <td>
                            {{exPosuresTotal}}
                        </td>
                    </tr>
                    <table>
                    <tr class="row2">
                        <td>Default</td>
                        <td colspan="2">{{entData.defaults}}</td>
                        <td>As on {{entData.defaults_As_On| date:'dd-MM-yyyy'}}</td>
                    </tr>
                    </table>
                    <br />
                    <table>
                    <tr ng-repeat="x in General.gurantors" ng-if="General.gurantors.length >0">
                        <td>
                            {{x.entData.gurType}}
                        </td>
                        <td colspan="2">
                            {{x.custName}}
                        </td>

                        <td>
                            {{x.entData.cust_Id}}
                        </td>
                    </tr>
                    <tr ng-if="General.gurantors.length == 0">
                        <td style="padding-left: 24%;">Guarantors are not applicable</td>
                    </tr>
                </table>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="container">
        <div class="row">
            <div class="col-sm-12">
                &nbsp;
            </div>
        </div>
    </div>
<div>
<nav class="shad">
        <div class="container-fluid">
            <div class="container">
                <div class="row">
                        <div class="col-sm-12">
                            <div class="col-sm-2">
                                Observation Noted:
                            </div>
                            <div class="col-sm-4">
                                <input type="text" class="form-control" name="observationNoted" ng-model="ModuleDetailsDataList[0].ObservationNotes" >
                            </div>
                            <div class="col-sm-2">
                                Communicated To: 
                            </div>
                            <div class="col-sm-4">
                                <input type="text" class="form-control" name="communicatedTo" ng-model="ModuleDetailsDataList[0].CommunicatedTo" >
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12">&nbsp;</div>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="col-sm-2">
                                Response Received: 
                            </div>
                            <div class="col-sm-4">
                                <input type="text" class="form-control" name="responseReceived" ng-model="ModuleDetailsDataList[0].responceReceived" >
                            </div>
                            <div class="col-sm-2">
                                Next Follow-Up Date:  
                            </div>
                            <div class="col-sm-4">
                                <input id="startDate" type="text" class="form-control" ng-model="ModuleDetailsDataList[0].FollowupDate" datepicker-popup="dd-MM-yyyy" close-text="Close" ng-required="true"/>
                            </div>
                        </div>
                    </div>
                </div> 
                <div class="container">
                        <div class="row">
                            <div class="col-sm-12">&nbsp;</div>
                        </div>
                    </div>
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12">
                            <button type="button" style="margin-left: 90%;" class="btn btn-success" ng-click="SaveModuleData()">Save</button>
                        </div>
                    </div>
                </div>
            </div>
        </nav>