<style type="text/css">
    table.tableizer-table {
        font-size: 12px;
        border: 1px solid #CCC;
        font-family: Arial, Helvetica, sans-serif;
    }

    .tableizer-table td {
        padding: 4px;
        margin: 3px;
        border: 1px solid #CCC;
    }

    .tableizer-table th {
        background-color: #104E8B;
        color: #FFF;
        font-weight: bold;
    }
    .row2 td {
        padding-top: 20px !important;

}
</style>
<div class="container">
    <div class="row">
            <div class="col-sm-12">
        <table class="table tab-content table-bordered">
            <thead>
                <tr class="tableizer-firstrow">
                    <th>Cust ID</th>
                    <th>{{General.entData.cust_id}}</th>
                    <th>Name</th>
                    <th>{{General.customer.cust_Name}}</th>
                    <th>&nbsp;</th>
                    <th>&nbsp;</th>
                    <th>Exposure</th>
                    <th>{{General.customer.exposure}}</th>
                    <th> (Rs. in Lacs)</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Pan No.</td>
                    <td>{{General.customer.pan_No}}</td>
                    <td>Constitution</td>
                    <td>{{General.customer.constitution}}</td>
                    <td>&nbsp;</td>
                    <td>Branch</td>
                    <td></td>
                    <td>{{General.customer.exposure_AsOn}}</td>
                    <td>Print</td>
                </tr>
            </tbody>
        </table>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-6">
            <table class="table tab-content table-bordered">
                <thead>
                    <tr class="tableizer-firstrow ">
                        <th>Particular</th>
                        <th>Details</th>
                        <th>&nbsp;</th>
                        <!-- <th>Limit Details</th>
                                <th>Details</th>
                                <th>&nbsp;</th>
                                <th>&nbsp;</th>-->
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Activity</td>
                        <td>{{General.entData.activity}}</td>
                        <td>&nbsp;</td>
                        <!-- <td>Nature</td>
                                <td>Limit</td>
                                <td>Balance</td>
                                <td>Exposure</td> -->
                    </tr>
                    <tr>
                        <td>Sector (Sub Sector)</td>
                        <td>{{General.entData.sector_SubSector}}</td>
                        <td>&nbsp;</td>
                        <!-- <td>Working Capital</td>
                                <td>
                                    {{General.entData.working_capital_L}}
                               </td>
                                <td>{{General.entData.working_capital_B}}www</td>
                                <td>{{General.entData.working_capital_E}}eee</td> -->
                    </tr>
                    <tr>
                        <td>Priority/Non Priority</td>
                        <td>{{General.entData.priority_Non_Priority}}</td>
                        <td>&nbsp;</td>
                        <!-- <td>Term Loan</td>
                                <td>{{General.entData.term_Load_L}}</td>
                                <td>{{General.entData.term_Load_B}}</td>
                                <td>{{General.entData.term_Load_E}}</td> -->
                    </tr>
                    <tr>
                        <td>Govt Sponsored</td>
                        <td>
                            <select data-ng-model="General.entData.govt_sponsored ">
                                <option ng-selected="General.entData.govt_sponsored==x .lookUp_Value " ng-repeat="x in General.lookupGovtSponsored
                        " value="{{x.lookUp_Value}} ">{{x.lookUp_Value}}</option>
                            </select>
                        </td>
                        <td>&nbsp;</td>
                        <!-- <td>Bank Guarantee</td>
                                <td>{{General.entData.bank_Gurantee_L}}</td>
                                <td>{{General.entData.bank_Gurantee_B}}</td>
                                <td>{{General.entData.bank_Gurantee_E}}</td> -->
                    </tr>
                    <tr>
                        <td>Industry</td>
                        <td>{{General.entData.industry}}</td>
                        <td>&nbsp;</td>
                        <!-- <td>Letter Of Credit</td>
                                <td>{{General.entData.letter_of_credit_L}}</td>
                                <td>{{General.entData.letter_of_credit_B}}</td>
                                <td>{{General.entData.letter_of_credit_E}}</td> -->
                    </tr>
                    <tr>
                        <td>Incorporation</td>
                        <td>
                            {{General.entData.incorporation}}
                        </td>
                        <td>&nbsp;</td>
                        <!-- <td>PCL</td>
                                <td>{{General.entData.pcL_L}}</td>
                                <td>{{General.entData.pcL_B}}</td>
                                <td>{{General.entData.pcL_E}}</td> -->
                    </tr>
                    <tr>
                        <td>Connection Since</td>
                        <td>
                            {{General.entData.connection_Since}}</td>
                        <td>Bill Purchase</td>
                        <!-- <td>{{General.entData.bill_Purchase_L}}</td>
                                <td>{{General.entData.bill_Purchase_B}}</td>
                                <td>{{General.entData.bill_Purchase_E}}</td>
                                <td>&nbsp;</td> -->
                    </tr>
                    <tr>
                        <td>Internal Rating</td>
                        <td>{{General.entData.internal_Rating}}
                        </td>
                        <td>
                            <!--<input type="date " id="exampleInput " name="input " ng-model="General.entData.internal_Rating_AsOn "
                            placeholder="yyyy-MM-dd " min="2013-01-01 " max="2013-12-31 " required />-->
                            {{General.entData.internal_Rating_AsOn}}
                        </td>
                        <!-- <td>Total</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td> -->
                    </tr>
                    <tr>
                        <td>External Rating</td>
                        <td>{{General.entData.external_Rating}}</td>
                        <td>As on {{General.entData.external_Rating_AsOn}}</td>
                        <!-- <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td> -->
                    </tr>
                    <tr>
                        <td>Inspection comments</td>
                        <td>&nbsp;</td>
                        <td>{{General.entData.inspection_Comments}}</td>
                        <!-- <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td> -->
                    </tr>
                    <tr>
                        <td>Banking Argmt</td>
                        <td>
                            <select data-ng-model="General.entData.banking_Argmt ">
                                <option ng-selected="General.entData.banking_Argmt==x .lookUp_Value " ng-repeat="x in General.bankingArgmt
                        " value="{{x.lookUp_Value}} ">{{x.lookUp_Value}}</option>
                            </select>
                        </td>
                        <td>&nbsp;</td>
                        <!-- <td>Default</td>
                                <td>{{General.entData.defaults}}</td>
                                <td>&nbsp;</td>
                                <td>{{General.entData.defaults_As_On}}</td> -->
                    </tr>
                    <tr>
                        <td>If Consortium</td>
                        <td>{{General.entData.if_Consortium}}</td>
                        <td>&nbsp;</td>
                        <!-- <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td> -->
                    </tr>
                    <tr>
                        <td>Lead Bank</td>
                        <td>{{General.entData.lead_Bank}}</td>
                        <td>&nbsp;</td>
                        <!-- <td>Guarantor / Co-Obligant</td>
                                <td> {{General.gur1name}}</td>
                                <td>&nbsp;</td>
                                <td>{{General.entData.gurantor_1}}</td> -->
                    </tr>
                    <tr>
                        <td>SMA</td>
                        <td>SMA1/2/0 (Reason)/Default</td>
                        <td>&nbsp;</td>
                        <!-- <td>Guarantor / Co-Obligant</td>
                                <td> {{General.gur2name}}</td>
                                <td>&nbsp;</td>
                                <td>{{General.entData.gurantor_2}}</td> -->
                    </tr>
                    <tr>
                        <td>DCCO</td>
                        <td>
                            <select data-ng-model="General.entData.dCCO ">
                                <option ng-selected="General.entData.dcco==x .lookUp_Value " ng-repeat="x in General.lookupDCCO
                        " value="{{x.lookUp_Value}} ">{{x.lookUp_Value}}</option>
                            </select>
                        </td>
                        <td>
                            {{General.entData.dccO_AsOn}}</td>
                        <!-- <td>Guarantor / Co-Obligant</td>
                                <td> {{General.gur3name}}
                                </td>
                                <td>&nbsp;</td>
                                <td>{{General.entData.gurantor_3}}</td> -->
                    </tr>
                    <tr>
                        <td>Takeover</td>
                        <td>
                            <select data-ng-model="General.entData.takeover ">
                                <option ng-selected="General.entData.takeover==x .lookUp_Value " ng-repeat="x in General.takeover
                        " value="{{x.lookUp_Value}} ">{{x.lookUp_Value}}</option>
                            </select>
                        </td>
                        <td>{{General.entData.takeover_AsOn}}</td>
                        <!-- <td>Promoter's/ Directors</td>
                                <td> {{General.prom1name}}</td>
                                <td>&nbsp;</td>
                                <td>{{General.entData.promoter_1}}</td> -->
                    </tr>
                    <tr>
                        <td>Take over from</td>
                        <td>{{General.entData.takeover_From}}</td>
                        <td>&nbsp;</td>
                        <!-- <td>Promoter's/ Directors</td>
                                <td> {{General.prom2name}}</td>
                                <td>&nbsp;</td>
                                <td>{{General.entData.promoter_2}}</td> -->
                    </tr>
                    <tr>
                        <td>Reason For Takeover</td>
                        <td>{{General.entData.reason_for_Takeover}}</td>
                        <td>&nbsp;</td>
                        <!-- <td>Promoter's/ Directors</td>
                                <td> {{General.prom3name}}</td>
                                <td>&nbsp;</td>
                                <td>{{General.entData.promoter_3}}</td> -->
                    </tr>
                    <tr>
                        <td></td>
                        <td>
                            <input type="button" class="btn btn-info" value="SAVE" ng-click="save()" />

                        </td>
                    </tr>
                </tbody>
            </table>
            <p>{{error}}</p>
        </div>


        <div class="col-sm-6">

            <table class="table tab-content table-bordered">
                <thead>
                    <tr class="tableizer-firstrow ">
                        <th>Limit Details</th>
                        <th colspan="3" align="center">Details</th>

                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Nature</td>
                        <td>Limit</td>
                        <td>Balance</td>
                        <td>Exposures</td>

                    </tr>
                    <tr ng-repeat="x in General.exposures">
                        <td>
                            {{x.nature}}
                        </td>
                        <td>
                            {{x.limit}}

                        </td>
                        <td>
                            {{x.balance}}

                        </td>
                        <td>
                            {{x.exposure}}

                        </td>
                    </tr>
                    <tr>
                        <td>
                            Total
                        </td>
                        <td>
                            {{exLimitTotal}}
                        </td>
                        <td>
                            {{exBalanceTotal}}
                        </td>
                        <td>
                            {{exPosuresTotal}}
                        </td>
                    </tr>
                    <table>
                    <tr class="row2">
                        <td>Default</td>
                        <td colspan="2">No of banks/FI(R-:UR-)</td>
                        <td>As on 12/12/2017</td>
                    </tr>
                    </table>
                    <br />
                    <table>
                    <tr ng-repeat="x in General.gurantors">
                        <td>
                            {{x.entData.gurType}}
                        </td>
                        <td colspan="2">
                            {{x.custName}}
                        </td>

                        <td>
                            {{x.entData.cust_Id}}
                        </td>
                    </tr>
                </table>

                </tbody>
            </table>
        </div>


    </div>


</div>


<!-- <br />
<br />
<pre>
        {{General.exposures | json}}
    </pre> -->