<style type="text/css">
    table.tableizer-table {
        font-size: 12px;
        border: 1px solid #CCC;
        font-family: Arial, Helvetica, sans-serif;
    }

    table[show-weeks] thead tr th {
    padding: 0px;
    font-size: 12px;
    font-weight: normal;
    padding-top:4px;
    padding-bottom: 4px;
    text-align: center;
    margin: 0 auto;
    padding-right: 5px;
    padding-left: 5px;
}
table[show-weeks] thead tr td button:first-child
{
    background: transparent !important;
}

table[show-weeks] thead tr td button:last-child
{
    background: transparent !important;
    
}

.icon-chevron-left:before {
    content: "<";
}

.icon-chevron-right:before {
    content: ">";
}

table[show-weeks] tbody tr td {
    padding: 2px;
    text-align: center;
    font-size: 12px !important;
    font-weight: normal;
}

table[show-weeks] tbody tr td button.btn-info {
    padding: 2px;
    text-align: center; 
    background-color: #5bc0de;
    border-color: #46b8da;
    font-size: 12px;
    font-weight: normal;
    border-radius: 0px;
}

table[show-weeks] tbody tr td button {
    padding: 2px;
    text-align: center; 
    border-radius: 0px;
    background-color: whitesmoke;
    border-color: whitesmoke;
    font-size: 12px !important;
    font-weight: normal;
}

    .tableizer-table td {
        padding: 4px;
        margin: 3px;
        border: 1px solid #CCC;
    }

    .tableizer-table th {
        background-color: #104E8B;
        color: #FFF;
        font-weight: bold;
    }
    
    .shad{
        box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
        padding: 15px 10px;
        background: #fff;
        border: none;
        border-radius: 0;
        margin-bottom: 40px; 
    }
</style>

<div class="container">
    <div class="row">
        <div class="col-sm-12">
                <span class="tag">SO/Cond/Approvals</span>  
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <button style="margin-left: 46%;" type="button" class="btn btn-primary">Print</button>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            &nbsp;
        </div>
    </div>
</div>
<div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="col-sm-4">
                        <input id="startDate" type="text" class="form-control" ng-model="startDate" datepicker-popup="dd-MM-yyyy" close-text="Close" ng-required="true""/>
                </div>
                <div class="col-sm-4">
                        <input
                        id="endDate"
                        type="text"
                        class="form-control"
                        ng-model="endDate"
                        datepicker-popup="dd-MM-yyyy"
                        close-text="Close"
                        ng-required="true"/>
                </div>
                <div class="col-sm-4">
                    <button class="btn btn-info" ng-click="getSoc124byDate()">Search</button>
                </div>
            </div>
        </div>
    </div>
    <div class="container">&nbsp;</div>
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <table class="table tab-content table-bordered" ng-if="soc124DataList.length > 0">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Approval Date</th>
                            <th>Via</th>
                            <th>Approved for (Monitor/User)</th>
                            <th>Complied</th>
                            <th>Follow-up Date</th>
                            <th>Complied Date</th>
                            <th>Save</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="List in soc124DataList">
                            <td>{{List.entData.sourceSystemId}}</td>
                            <td style="font-size: 94%;">{{List.entData.approvalDate | date:'dd-MM-yyyy'}}</td>
                            <td>{{List.entData.via}}</td>
                            <td><input type="text" class="form-control" name="approvalFor" ng-model="List.entData.approvalFor" ></td>
                            <td>
                                <select data-ng-model="List.entData.isCompiled" class="form-control">
                                        <option value="">--Select--</option>
                                        <option value="yes">Yes</option>
                                        <option value="no">No</option>
                                </select>
                            </td>
                            <td><input id="startDate" type="text" class="form-control" ng-model="List.entData.followUpDate" datepicker-popup="dd-MM-yyyy" close-text="Close" ng-required="true""/></td>
                            <td><input id="startDate" type="text" class="form-control" ng-model="List.entData.compiledDate" datepicker-popup="dd-MM-yyyy" close-text="Close" ng-required="true""/></td>
                            <td><button type="button" class="btn btn-success" ng-click="saveData(List.entData.id,List.entData.cust_id,List.entData.sourceSystemId,List.entData.approvalDate,List.entData.via,List.entData.approvalFor,List.entData.isCompiled,List.entData.followUpDate,List.entData.compiledDate )">Save</button></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="container">
            <div class="row">
                <div class="col-sm-12">&nbsp;</div>
            </div>
        </div>
        
<nav class="shad">
        <div class="container-fluid">
            <div class="container">
                <div class="row">
                        <div class="col-sm-12">
                            <div class="col-sm-2">
                                Observation Noted:
                            </div>
                            <div class="col-sm-4">
                                <input type="text" class="form-control" name="observationNoted" ng-model="observationNoted" >
                            </div>
                            <div class="col-sm-2">
                                Communicated To: 
                            </div>
                            <div class="col-sm-4">
                                <input type="text" class="form-control" name="communicatedTo" ng-model="communicatedTo" >
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12">&nbsp;</div>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="col-sm-2">
                                Response Received: 
                            </div>
                            <div class="col-sm-4">
                                <input type="text" class="form-control" name="responseReceived" ng-model="responseReceived" >
                            </div>
                            <div class="col-sm-2">
                                Next Follow-Up Date:  
                            </div>
                            <div class="col-sm-4">
                                <input id="startDate" type="text" class="form-control" ng-model="followUpDate" datepicker-popup="dd-MM-yyyy" close-text="Close" ng-required="true"/>
                            </div>
                        </div>
                    </div>
                </div> 
                <div class="container">
                        <div class="row">
                            <div class="col-sm-12">&nbsp;</div>
                        </div>
                    </div>
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12">
                            <button type="button" style="margin-left: 90%;" class="btn btn-success" ng-click="saveData( )">Save</button>
                        </div>
                    </div>
                </div>
            </div>
        </nav>